// *****************
// Global Variables
// *****************

// Spaces
$base-spacing-unit: 15px;

// Border radius
$global-radius: 3px;

// Transition
$global-transition: all .35s;

// *****************
// Typography
// *****************
$base-font-size: 18px;
$base-font-style: normal;
$base-font-variant: normal;
$base-font-weight: 400;
$base-font-family: 'Raleway', 'Inter', 'Darker Grotesque', 'Open Sans', sans-serif;
$base-line-height: 1.6;

// Headings
$heading-font-weight: 700;
$heading-font-family: 'Bai Jamjuree', 'Inter', 'Raleway', 'Darker Grotesque', 'PT Sans', 'Noto Sans', 'Open Sans', sans-serif;
$heading-color: $text-color;

$font-size-h1:  36px;
$font-size-h2:  32px;
$font-size-h3:  28px;
$font-size-h4:  24px;
$font-size-h5:  20px;
$font-size-h6:  16px;

$heading-line-height: 1.5em;

// *****************
// OLD-OLD-OLD-OLD-OLD-OLD-OLD
// Typography
// *****************
// $base-font-size: 18px;
// $base-font-style: normal;
// $base-font-variant: normal;
// $base-font-weight: normal;
// $base-font-family: 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;
// $base-line-height: 34px;

// Headings
// $heading-font-weight: 700;
// $heading-font-family: 'Bai Jamjuree', 'Inter', Helvetica Neue, Helvetica, Arial, sans-serif;

// $font-size-h1:  36px;
// $font-size-h2:  28px;
// $font-size-h3:  24px;
// $font-size-h4:  20px;
// $font-size-h5:  18px;
// $font-size-h6:  16px;

// $heading-line-height: 1.3;
